<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReserva" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12455/Reserva.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReserva" contract="ws_reserva.IReserva"
                name="BasicHttpBinding_IReserva" />
        </client>
    </system.serviceModel>
</configuration>